# Environnements virtuels
.venv/
venv/
env/
ENV/

# IDE
.idea/
.vscode/
*.swp

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
build/
dist/
*.egg-info/

# Django
*.log
db.sqlite3
db.sqlite3-journal
/media/
/staticfiles/

# Variables d'environnement
.env
.env.local

# OS
.DS_Store
Thumbs.db

# Config locale
local_settings.py
